<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VivanX Vault - Register</title>
    <style>
        body { background: #050505; color: #fff; font-family: sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }
        .box { border: 2px solid #ff00ff; box-shadow: 0 0 15px #ff00ff; padding: 25px; border-radius: 12px; background: #000; width: 85%; max-width: 320px; text-align: center; }
        h2 { color: #ff00ff; text-shadow: 0 0 8px #ff00ff; }
        input { width: 90%; padding: 12px; margin: 10px 0; background: transparent; border: 1px solid #00f3ff; color: #fff; border-radius: 5px; box-shadow: 0 0 5px #00f3ff; outline: none; }
        .secret { border-color: #ff00ff; box-shadow: 0 0 10px #ff00ff; font-weight: bold; }
        button { width: 100%; padding: 12px; background: #00f3ff; border: none; font-weight: bold; cursor: pointer; box-shadow: 0 0 10px #00f3ff; margin-top: 10px; }
    </style>
</head>
<body>
    <div class="box">
        <h2>VivanX Vault</h2>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="text" name="secret_key" class="secret" placeholder="Enter Registration Secret Key" required>
            <button type="submit">REGISTER</button>
        </form>
    </div>
</body>
</html>
